doctype 5
head
  link(rel='stylesheet', href='/css/style.css')
  script(src='/js/lib/linq.min.js')
  script(src='/js/lib/biginteger.js')
  script(src='//cdn.robotwebtools.org/EventEmitter2/0.4.11/eventemitter2.min.js')
  script(src='//code.createjs.com/createjs-2013.05.14.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js', data-main='/js/main')
  if debug
    script(src='//localhost:35729/livereload.js')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
div
  canvas#canvas(width=0, height=0)
